In [5]:
import pandas as pd
seed_pm = pd.read_csv("./2012_csv_files/NCAA_Stats_2011-12_Placement.csv",encoding='cp1252')
seed_pm.head()

   Seed           Team Conference Berth type  Overall rank  Placement
0     1       Syracuse   Big East   At-large             2          8
1     2     Ohio State    Big Ten   At-large             7          4
2     3  Florida State        ACC  Automatic            11         32
3     4      Wisconsin    Big Ten   At-large            14         16
4     5     Vanderbilt        SEC  Automatic            18         32

In [6]:
place = seed_pm
place['Conference']= seed_pm['Conference'].replace('American','AAC')
place['Conference']= seed_pm['Conference'].replace('Missouri Valley','MVC')
place['Conference']= seed_pm['Conference'].replace('Ohio Valley','OVC')
place['Conference']= seed_pm['Conference'].replace('Atlantic Sun','ASUN')
place['Conference']= seed_pm['Conference'].replace('Conference USA','C-USA')
place['Conference']= seed_pm['Conference'].replace('Southern','SoCon')
place['Conference']= seed_pm['Conference'].replace('West Coast','WCC')
place['Conference']= seed_pm['Conference'].replace('Colonial','CAA')
place['Conference']= seed_pm['Conference'].replace('Ivy','Ivy League')
place['Conference']= seed_pm['Conference'].replace('Summit','Summit League')
place['Conference']= seed_pm['Conference'].replace('Mid American','MAC')
place['Conference']= seed_pm['Conference'].replace('Pac–12','Pac-12')
place['Conference']= seed_pm['Conference'].replace('Northeast','NEC')
place['Conference']= seed_pm['Conference'].replace('Big East','AAC')
# Don't use this Big East line on any year sooner than 2013


place['Team']= seed_pm['Team'].replace('State','St.',regex = True)
place['Team']= seed_pm['Team'].replace('NC St.','NC State',regex = True)
place['Team']= seed_pm['Team'].replace('North Carolina St.','NC State')
place['Team']= seed_pm['Team'].replace('Stephen F. Austin','SFA')
place['Team']= seed_pm['Team'].replace('Loyola–Chicago','Loyola Chicago')
place['Team']= seed_pm['Team'].replace('LIU Brooklyn','LIU')
place['Team']= seed_pm['Team'].replace('North Carolina Central','N.C. Central')
place['Team']= seed_pm['Team'].replace('College of Charleston', 'Col. of Charleston')
place['Team']= seed_pm['Team'].replace('USC','Southern California')
place['Team']= seed_pm['Team'].replace('Middle Tennessee','Middle Tenn.')
place['Team']= seed_pm['Team'].replace('East Tennessee St.','ETSU')
place['Team']= seed_pm['Team'].replace('UNC Wilmington','UNCW')
place['Team']= seed_pm['Team'].replace("Saint Mary's","Saint Mary's (CA)")
place['Team']= seed_pm['Team'].replace("Florida Gulf Coast","FGCU")
place['Team']= seed_pm['Team'].replace("Northern Kentucky","Northern Ky.")
place['Team']= seed_pm['Team'].replace("Miami","Miami (FL)")
place['Team']= seed_pm['Team'].replace("Northern Iowa","UNI")
place['Team']= seed_pm['Team'].replace("Cal St. Bakersfield","CSU Bakersfield")
place['Team']= seed_pm['Team'].replace("Southern","Southern U.")
place['Team']= seed_pm['Team'].replace("Mississippi","Ole Miss")
place['Team']= seed_pm['Team'].replace("Albany","Albany (NY)")
place['Team']= seed_pm['Team'].replace("St. John's","St. John's (NY)")
place['Team']= seed_pm['Team'].replace('Eastern Washington','Eastern Wash.')
place['Team']= seed_pm['Team'].replace('Connecticut','UConn')
place['Team']= seed_pm['Team'].replace('Texas A&M–Corpus Christi','A&M-Corpus Christi')
place['Team']= seed_pm['Team'].replace('Western Michigan','Western Mich.')
place['Team']= seed_pm['Team'].replace('Eastern Kentucky','Eastern Ky.')
place['Team']= seed_pm['Team'].replace('Louisiana-Lafayette','Louisiana')
place['Team']= seed_pm['Team'].replace('Western Kentucky','Western Ky.')
place['Team']= seed_pm['Team'].replace('Long Island','LIU')
place['Team']= seed_pm['Team'].replace('LIU-Brooklyn','LIU')
place['Team']= seed_pm['Team'].replace('Loyola','Loyola Maryland')
place['Team']= seed_pm['Team'].replace('South Florida','South Fla.')
place['Team']= seed_pm['Team'].replace('North Carolina A&T','N.C. A&T')
place['Team']= seed_pm['Team'].replace('Lamar','Lamar University')
place['Team']= seed_pm['Team'].replace('Southern Miss','Southern Miss.')
place['Team']= seed_pm['Team'].replace('LIU-Brooklyn','LIU')
place['Team']= seed_pm['Team'].replace('Mississippi Valley St.','Mississippi Val.')










place.head()

   Seed         Team Conference Berth type  Overall rank  Placement
0     1     Syracuse        AAC   At-large             2          8
1     2     Ohio St.    Big Ten   At-large             7          4
2     3  Florida St.        ACC  Automatic            11         32
3     4    Wisconsin    Big Ten   At-large            14         16
4     5   Vanderbilt        SEC  Automatic            18         32

In [7]:
place["Team"]=place["Team"]+ " "+"(" + seed_pm["Conference"]+")"
place=place.drop(columns=["Conference"])

In [8]:
merged_stats= pd.read_csv("./2012_csv_files/NCAA_Merged_Statistics_2011-12.csv")
full_stats = merged_stats.merge(place,how= 'inner')

place[~place['Team'].isin(full_stats['Team'])]

Empty DataFrame
Columns: [Seed, Team, Berth type, Overall rank, Placement]
Index: []

In [9]:
all_stats= merged_stats.merge(place,how= 'outer')
all_stats = all_stats.fillna('DNP')

all_stats.to_csv('./2012_csv_files/NCAA_2011-12_All_Stats.csv')

In [10]:
complete_stats = all_stats[['Year','Team','Power 5 School','Placement','Seed','Berth type','Overall rank', 'Win Pct', 'SCR MAR', 'REB MAR', 'FG%','FT%', '3FG%', 'OPP FG%', 'OPP 3FG%','AST/TO Ratio']]
complete_stats.to_csv('./2012_csv_files/NCAA_2011-12_Completed_Stats.csv',index=False)