In [1]:
import pandas as pd
seed_pm = pd.read_csv("./2016_csv_files/NCAA_Stats_2015-16_Placement.csv",encoding='cp1252')
seed_pm.head()

   Seed        Team Conference Record Berth type  Overall rank  Placement
0     1      Kansas     Big 12   30–4       Auto             1          8
1     2   Villanova   Big East   29–5   At-large             7          1
2     3       Miami        ACC   25–7   At-large            10         16
3     4  California     Pac-12  23–10   At-large            14         64
4     5    Maryland    Big Ten   25–8   At-large            19         16

In [2]:
place = seed_pm
place['Conference']= seed_pm['Conference'].replace('American','AAC')
place['Conference']= seed_pm['Conference'].replace('Missouri Valley','MVC')
place['Conference']= seed_pm['Conference'].replace('Ohio Valley','OVC')
place['Conference']= seed_pm['Conference'].replace('Atlantic Sun','ASUN')
place['Conference']= seed_pm['Conference'].replace('Conference USA','C-USA')
place['Conference']= seed_pm['Conference'].replace('Southern','SoCon')
place['Team']= seed_pm['Team'].replace('State','St.',regex = True)
place['Team']= seed_pm['Team'].replace('NC St.','NC State',regex = True)
place['Team']= seed_pm['Team'].replace('Stephen F. Austin','SFA')
place['Team']= seed_pm['Team'].replace('Loyola–Chicago','Loyola Chicago')
place['Team']= seed_pm['Team'].replace('LIU Brooklyn','LIU')
place['Team']= seed_pm['Team'].replace('North Carolina Central','N.C. Central')
place['Team']= seed_pm['Team'].replace('College of Charleston', 'Col. of Charleston')
place['Team']= seed_pm['Team'].replace('USC','Southern California')
place['Team']= seed_pm['Team'].replace('Middle Tennessee','Middle Tenn.')
place['Team']= seed_pm['Team'].replace('East Tennessee St.','ETSU')
place['Team']= seed_pm['Team'].replace('UNC Wilmington','UNCW')
place['Team']= seed_pm['Team'].replace("Saint Mary's","Saint Mary's (CA)")
place['Team']= seed_pm['Team'].replace("Florida Gulf Coast","FGCU")
place['Team']= seed_pm['Team'].replace("Northern Kentucky","Northern Ky.")
place['Team']= seed_pm['Team'].replace("Miami","Miami (FL)")
place['Team']= seed_pm['Team'].replace("Northern Iowa","UNI")
place['Team']= seed_pm['Team'].replace("Cal St. Bakersfield","CSU Bakersfield")
place['Team']= seed_pm['Team'].replace("Southern","Southern U.")





place.head()

   Seed        Team Conference Record Berth type  Overall rank  Placement
0     1      Kansas     Big 12   30–4       Auto             1          8
1     2   Villanova   Big East   29–5   At-large             7          1
2     3  Miami (FL)        ACC   25–7   At-large            10         16
3     4  California     Pac-12  23–10   At-large            14         64
4     5    Maryland    Big Ten   25–8   At-large            19         16

In [3]:
place["Team"]=place["Team"]+ " "+"(" + seed_pm["Conference"]+")"
place=place.drop(columns=["Conference"])

In [4]:
merged_stats= pd.read_csv("./2016_csv_files/NCAA_Merged_Statistics_2015-16.csv")
full_stats = merged_stats.merge(place,how= 'inner')
place[~place['Team'].isin(full_stats['Team'])]

Empty DataFrame
Columns: [Seed, Team, Record, Berth type, Overall rank, Placement]
Index: []

In [5]:
all_stats= merged_stats.merge(place,how= 'outer')
all_stats = all_stats.fillna('DNP')

all_stats.to_csv('./2016_csv_files/NCAA_2015-16_All_Stats.csv')

In [6]:
complete_stats = all_stats[['Year','Team','Power 5 School','Placement','Seed','Berth type','Overall rank', 'Win Pct', 'SCR MAR', 'REB MAR', 'FG%','FT%', '3FG%', 'OPP FG%', 'OPP 3FG%','AST/TO Ratio']]
complete_stats.to_csv('./2016_csv_files/NCAA_2015-16_Completed_Stats.csv',index=False)