In [1]:
import pandas as pd 
seed_pm = pd.read_csv("./2018_csv_files/NCAA_Stats_2017-18_Placement.csv",encoding='cp1252')
seed_pm.head()

   Seed        Team Conference Record Berth type  Overall rank  Placement
0     1    Virginia        ACC   31–2       Auto             1         64
1     1      Xavier   Big East   28–5   At-large             4         32
2     1   Villanova   Big East   30–4       Auto             2          1
3     1      Kansas     Big 12   27–7       Auto             3          4
4     2  Cincinnati   American   30–4       Auto             8         32

In [2]:
place = seed_pm
place['Conference']= seed_pm['Conference'].replace('American','AAC')
place['Conference']= seed_pm['Conference'].replace('Missouri Valley','MVC')
place['Conference']= seed_pm['Conference'].replace('Ohio Valley','OVC')
place['Conference']= seed_pm['Conference'].replace('Atlantic Sun','ASUN')
place['Conference']= seed_pm['Conference'].replace('Conference USA','C-USA')
place['Conference']= seed_pm['Conference'].replace('Southern','SoCon')
place['Team']= seed_pm['Team'].replace('State','St.',regex = True)
place['Team']= seed_pm['Team'].replace('NC St.','NC State',regex = True)
place['Team']= seed_pm['Team'].replace('Stephen F. Austin','SFA')
place['Team']= seed_pm['Team'].replace('Loyola–Chicago','Loyola Chicago')
place['Team']= seed_pm['Team'].replace('LIU Brooklyn','LIU')
place['Team']= seed_pm['Team'].replace('North Carolina Central','N.C. Central')
place['Team']= seed_pm['Team'].replace('College of Charleston', 'Col. of Charleston')
place.head(68)

,Seed,Team,Conference,Record,Berth type,Overall rank,Placement
0,1,Virginia,ACC,31–2,Auto,1,64
1,1,Xavier,Big East,28–5,At-large,4,32
2,1,Villanova,Big East,30–4,Auto,2,1
3,1,Kansas,Big 12,27–7,Auto,3,4
4,2,Cincinnati,AAC,30–4,Auto,8,32
...,...,...,...,...,...,...,...
63,16,N.C. Central,MEAC,19–15,Auto,67,68
64,16,Texas Southern,SWAC,15–19,Auto,68,64
65,16,LIU,NEC,18–16,Auto,66,68
66,16,Radford,Big South,22–12,Auto,65,64
67,16,Penn,Ivy League,24–8,Auto,64,64

In [3]:
place["Team"]=place["Team"]+ " "+"(" + seed_pm["Conference"]+")"
place=place.drop(columns=["Conference"])

In [4]:
merged_stats= pd.read_csv("./2018_csv_files/NCAA_Merged_Statistics_2017-18.csv")
full_stats = merged_stats.merge(place,how= 'inner')
place[~place['Team'].isin(full_stats['Team'])]

Empty DataFrame
Columns: [Seed, Team, Record, Berth type, Overall rank, Placement]
Index: []

In [5]:
all_stats= merged_stats.merge(place,how= 'outer')
all_stats = all_stats.fillna('DNP')
all_stats.to_csv('./2018_csv_files/NCAA_2017-18_All_Stats.csv')

In [6]:
complete_stats = all_stats[['Year','Team','Power 5 School','Placement','Seed','Berth type','Overall rank', 'Win Pct', 'SCR MAR', 'REB MAR', 'FG%','FT%', '3FG%', 'OPP FG%', 'OPP 3FG%','AST/TO Ratio']]
complete_stats.to_csv('./2018_csv_files/NCAA_2017-18_Completed_Stats.csv',index=False)